.criminal{
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 470px;
	@media (max-width: $screen-xs-max){
		background-position: bottom right;
	}
	@media (max-width: $screen-xs-min){
		background-position: center center;
	}
	&__blog{
		padding-top: 90px;
		@media (max-width: $screen-xs-max){
			padding-top: 25px;
		}
	}
	&__text{
		h2{
			color: #282828;
			font-size: 36px;
			font-family: 'Roboto Slab', serif;
			font-weight: 700;
			margin: 0;
			@media (max-width: $screen-xs-max){
				font-size: 22px;
			}
		}
		p{
			font-size: 18px;
			font-weight: 400;
			color: #282828;
			padding-top: 50px;
			@media (max-width: $screen-sm-max){
				padding-top: 25px;
			}
			@media (max-width: $screen-xs-max){
				padding-top: 15px;
				padding-bottom: 10px;
				font-size: 16px;
			}
		}
	}
	&__img{
		text-align: center;
		img{
			max-width: 239px;
			width: 100%;
			@media (max-width: $screen-xs-max){
				max-width: 200px;
				width: 100%;
			}
		}
	}
}